    <!-- Main Start -->
<main>
    <section class="about-home">
        <div class="about-img-container">
            <img src="~/assets/image/about-big-img.svg" alt="">
        </div>
        <div class="about-text-center">
            <span>#playwithyourhearth</span>
            <p>Yüreğinle Oyna, Potansiyelini Keşfet!</p>
        </div>
    </section>

    <section class="about-stats">
        <div class="about-stats-all">
            <div class="stats-text">
                <span>Yüzlerce Kişiye Kalite ve Güveni Sunmaktan Gurur Duyuyoruz.</span>
                <p>
                    Günlük tekil ziyaretçimiz için durmandan canla başla geliştirmeyi devam ediyoruz. Hedefimiz
                    işlevselliği ve estetiği aynı anda erişilebilir ücretlerle sunmak.
                </p>
            </div>
            <div class="stats-boxes">
                <div class="stats-box">
                    <span>2500+</span>
                    <p>Günlük Ortalama Ziyaretçi</p>
                </div>
                <div class="stats-box">
                    <span>30+</span>
                    <p>Günlük Ürün Tedariği</p>
                </div>
                <div class="stats-box">
                    <span>150+</span>
                    <p>Anlaşmalı Firma</p>
                </div>
                <div class="stats-box">
                    <span>50.500+</span>
                    <p>Müşteri</p>
                </div>
            </div>
        </div>
    </section>

    <section class="about-exp">
        <div class="about-exp-all">
            <div class="exp-slider">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/assets/image/aboutslider1.png" alt="About Slider Photo">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/assets/image/aboutslider2.png" alt="About Slider Photo">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/assets/image/aboutslider1.png" alt="About Slider Photo">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/assets/image/aboutslider2.png" alt="About Slider Photo">
                        </div>
                    </div>
                </div>
                <div class="exp-slider-under-photo">
                    <img src="~/assets/image/aboutunder1.png" alt="">
                    <img src="~/assets/image/aboutunder2.png" alt="">
                </div>
            </div>
            <div class="exp-text">
                <div class="exp-text-title">
                    Türkiye'nin <span>Yerli Lider Oyuncu Markası</span> olmaktan gurur
                    duyuyoruz!<br><br>Peki <span>Biz</span> Kimiz?
                </div>
                <p>
                    2016'da "Yüreğinle Oyna!" ruhuyla doğan Türkiye merkezli markamız, kaliteli ve dayanıklı oyun
                    ekipmanları sunmayı amaçlıyor.<br><br>
                    Performansın gücüyle oyun dünyasının heyecanını bir araya getirerek, unutulmaz oyun deneyimleri
                    sunma hedefiyle buradayız!<br><br>
                    Türkiye'deki başarımızı aşarak Global çapta; Azerbaycan, Hırvatistan, Gürcistan, Macaristan,
                    Hollanda ve Kosova gibi 22 ülkeye ihracat yapıyoruz. Nitelikli hizmet anlayışımız ve kapsamlı
                    servis ağımızla sınırlarımızı her geçen gün daha da genişletiyoruz.<br><br>
                    Oyun deneyiminizi yükselten, başarılarınıza destek olan ürünlerimizle dünya çapında tercih
                    edilen bir marka olmaktan gurur duyuyoruz. Geniş ürün yelpazemiz ve oyuncu dostu yaklaşımımızla
                    mükemmel bir oyun deneyimi sunmak için buradayız.<br><br>
                    Adil rekabetin canlı atmosferini desteklemek ve espor dünyasının büyümesine katkıda bulunmak
                    için sponsorluklarımızı sürdürüyoruz.<br><br>
                    Oyun dünyasının tutkulu yolculuğunda bizimle birlikte olun. Güçlü, heyecan dolu anlar
                    yaşayacağınız kaliteli oyun ekipmanlarıyla donanmış bir deneyim sizi bekliyor.<br><br>
                    Gelin, oyun dünyasının eşsiz atmosferine katılın ve başarılarla dolu bir yolculuğa adım atın.
                    <br><br>
                    Rampage her zaman yanınızda!
                </p>
                <div class="for-news">
                    <a href="#">Bizden Haberdar Olun!</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </div>
    </section>

    <section class="user-comment">
        <div class="user-comment-title">
            <p>Kullanıcı Deneyimleri</p>
            <span>Kullanıcılarımızdan Yorumlar</span>
        </div>
        <div class="user-comment-boxs">
            <div class="swiper user-comment-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="user-comment-box">
                            <span>
                                Rampage PLATINO Mesh Temperli Camlı 600W 80+ BRONZE 4*12cm Rainbow Fanlı ATX Mid-T
                                Gaming Oyuncu Kasası
                            </span>
                            <div class="user-comment-image">
                                <img src="~/assets/image/usercommentimage1.png" alt="Kasa">
                            </div>
                            <div class="user-comment-text">
                                <div class="user-name-date">
                                    <div class="user-name">SERTAÇ Güngör</div>
                                    <div class="user-date">21/11/2023</div>
                                </div>
                                <div class="user-stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p>
                                    Ben kullanmaktayım gayet güzel fakat RGB ışıkları kapatmanın bir yolu yok Ofiste
                                    kullandığım için sadece bu konuda sıkıntı yaşadım Onun haricinde kasanın içi çok
                                    serin.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="user-comment-box">
                            <span>
                                Rampage PLATINO Mesh Temperli Camlı 600W 80+ BRONZE 4*12cm Rainbow Fanlı ATX Mid-T
                                Gaming Oyuncu Kasası
                            </span>
                            <div class="user-comment-image">
                                <img src="~/assets/image/usermouse.png" alt="Kasa">
                            </div>
                            <div class="user-comment-text">
                                <div class="user-name-date">
                                    <div class="user-name">SERTAÇ Güngör</div>
                                    <div class="user-date">21/11/2023</div>
                                </div>
                                <div class="user-stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p>
                                    Ben kullanmaktayım gayet güzel fakat RGB ışıkları kapatmanın bir yolu yok Ofiste
                                    kullandığım için sadece bu konuda sıkıntı yaşadım Onun haricinde kasanın içi çok
                                    serin.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="user-comment-box">
                            <span>
                                Rampage PLATINO Mesh Temperli Camlı 600W 80+ BRONZE 4*12cm Rainbow Fanlı ATX Mid-T
                                Gaming Oyuncu Kasası
                            </span>
                            <div class="user-comment-image">
                                <img src="~/assets/image/userdireksiyon.png" alt="Kasa">
                            </div>
                            <div class="user-comment-text">
                                <div class="user-name-date">
                                    <div class="user-name">SERTAÇ Güngör</div>
                                    <div class="user-date">21/11/2023</div>
                                </div>
                                <div class="user-stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p>
                                    Ben kullanmaktayım gayet güzel fakat RGB ışıkları kapatmanın bir yolu yok Ofiste
                                    kullandığım için sadece bu konuda sıkıntı yaşadım Onun haricinde kasanın içi çok
                                    serin.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="user-comment-box">
                            <span>
                                Rampage PLATINO Mesh Temperli Camlı 600W 80+ BRONZE 4*12cm Rainbow Fanlı ATX Mid-T
                                Gaming Oyuncu Kasası
                            </span>
                            <div class="user-comment-image">
                                <img src="~/assets/image/usercommentimage1.png" alt="Kasa">
                            </div>
                            <div class="user-comment-text">
                                <div class="user-name-date">
                                    <div class="user-name">SERTAÇ Güngör</div>
                                    <div class="user-date">21/11/2023</div>
                                </div>
                                <div class="user-stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p>
                                    Ben kullanmaktayım gayet güzel fakat RGB ışıkları kapatmanın bir yolu yok Ofiste
                                    kullandığım için sadece bu konuda sıkıntı yaşadım Onun haricinde kasanın içi çok
                                    serin.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="user-comment-box">
                            <span>
                                Rampage PLATINO Mesh Temperli Camlı 600W 80+ BRONZE 4*12cm Rainbow Fanlı ATX Mid-T
                                Gaming Oyuncu Kasası
                            </span>
                            <div class="user-comment-image">
                                <img src="~/assets/image/usercommentimage1.png" alt="Kasa">
                            </div>
                            <div class="user-comment-text">
                                <div class="user-name-date">
                                    <div class="user-name">SERTAÇ Güngör</div>
                                    <div class="user-date">21/11/2023</div>
                                </div>
                                <div class="user-stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p>
                                    Ben kullanmaktayım gayet güzel fakat RGB ışıkları kapatmanın bir yolu yok Ofiste
                                    kullandığım için sadece bu konuda sıkıntı yaşadım Onun haricinde kasanın içi çok
                                    serin.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
</main>
<!-- Main End -->
