<main>
    <section class="shopping-basket-image">
        <div class="step-icon-text">
            <div class="step-icon">
                <a href="#">
                    <i class="fa-solid fa-basket-shopping"></i>
                </a>
            </div>
            <div class="step-text">
                <span>ALIŞVERİŞ SEPETİ</span>
            </div>
        </div>
    </section>

    <section class="sepet-all">
        <div class="sepet-left-right">
            <div class="sepet-left">
                <h4>ÜRÜNLERİM</h4>
                <div class="sepet-info">
                    <div class="sepet-img">
                        <a href="#">
                            <img src="~/assets/image/demosepet.png" alt="Sepet Klavye">
                        </a>
                    </div>
                    <div class="sepet-name">
                        <a href="#">
                            <span>
                                Rampage KB-R211 PRIME Rainbow Aydınlatmalı Kristal Blue Switch Mekanik Gaming
                                Oyuncu Klavyesi 34546
                            </span>
                        </a>
                    </div>
                    <div class="sepet-count">
                        <div class="piece">
                            <div class="product-qty">
                                <div class="qty-minus">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25"
                                         viewBox="0 0 9.156 16.953">
                                        <path d="M8.963,8.942l-7.841,7.82a.657.657,0,0,1-.928-.931L7.568,8.477.193,1.122a.657.657,0,0,1,.928-.93L8.963,8.011a.657.657,0,0,1,0,.93Z"
                                              transform="translate(0)" fill="#fff"></path>
                                    </svg>
                                </div>
                                <div class="piece-count">
                                    <input type="number" step="1" name="adet" value="1" min="1" max="7">
                                </div>
                                <div class="qty-plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25"
                                         viewBox="0 0 9.156 16.953">
                                        <path d="M126.7,8.011,118.864.192a.657.657,0,0,0-.928.931l7.375,7.354-7.375,7.354a.657.657,0,0,0,.928.93L126.7,8.942a.657.657,0,0,0,0-.93Z"
                                              transform="translate(-117.742 0)" fill="#fff"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sepet-single-total">
                        <div class="sepet-single">
                            <h6>Fiyat</h6>
                            <p>2.349,00 <i class="fa-solid fa-turkish-lira-sign"></i></p>
                        </div>
                        <div class="sepet-sub-total">
                            <h6>Toplam</h6>
                            <p>4.698,00 <i class="fa-solid fa-turkish-lira-sign"></i></p>
                        </div>
                    </div>
                    <div class="sepet-delete">
                        <a href="#"><i class="fas fa-trash"></i> SİL </a>
                    </div>
                </div>
                <p class="products_desc">
                    Sepetinizdek ürünlerin toplam kargo tutarı 0₺'dir. Tahmini kargo süresi 2
                    iş günüdür. 500₺ üzeri kargo bedava!
                </p>
                <div class="sepet-btn">
                    <div class="sepet-btn-left">
                        <a href="#">
                            <i class="fa-solid fa-arrow-left"></i>
                            Alışverişe Devam Et
                        </a>
                    </div>
                    <div class="sepet-btn-right">
                        <a href="#">
                            <i class="fa-solid fa-trash"></i>
                            Alışverişe Devam Et
                        </a>
                    </div>
                </div>
            </div>
            <div class="sepet-right">
                <div class="ozetTitle">
                    <h4>SİPARİŞ ÖZETİ</h4>
                </div>
                <div class="ozetDetay">
                    <div>
                        <span>ARA TOPLAM</span>
                        <p>390,83 <i class="fa-solid fa-turkish-lira-sign"></i></p>
                    </div>
                    <div>
                        <span>KDV</span>
                        <p>78,17 <i class="fa-solid fa-turkish-lira-sign"></i></p>
                    </div>
                    <div>
                        <span>KARGO</span>
                        <p>50,00 <i class="fa-solid fa-turkish-lira-sign"></i></p>
                    </div>
                    <div>
                        <span>TUTAR</span>
                        <p>519,00 <i class="fa-solid fa-turkish-lira-sign"></i></p>
                    </div>
                </div>
                <div class="couppon">
                    <a href="#">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Satın Al</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

</main>