
<main>
    <section class="title-news-box">
        <div class="title-news-box-container">
            <div class="news-title">
                <span>En Son Neler Yaşandı?</span>
            </div>
            <div class="news-boxs">
                <div class="news-box">
                    <div class="news-category">
                        <span>Oyun Dünyasından</span>
                    </div>
                    <div class="news-text">
                        <h3>Eternel Fire: Türkiye'nin Gururu, Espor Arenasında Parlayan Bir Yıldız</h3>
                    </div>
                    <div class="news-date">
                        <span>Paylaşım Tarihi</span>
                        <div class="date-line"></div>
                        <p>12 Ağustos 2023</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-container">
        <div class="blog-share-all">
            <div class="blog-share">
                <div class="blog-share-title">
                    <h3>Önceki Paylaşımlar</h3>
                </div>
                <div class="blog-image-text">
                    <div class="blog-image">
                        <a href="#">
                            <img src="~/assets/image/eternal-fire.jpg" alt="BlogShare">
                        </a>
                    </div>
                    <div class="blog-text">
                        <div class="blog-date">
                            <span>12 / AĞUSTOS / 2023</span>
                        </div>
                        <div class="blog-content">
                            <a href="#">
                                <h3>Eternel Fire: Türkiye'nin Gururu, Espor Arenasında Parlayan Bir Yıldız</h3>
                            </a>
                        </div>
                        <div class="blog-cnt">
                            <p>
                                Merhaba espor tutkunları! Bugün sizleri Türkiye'nin parlayan yıldızı, espor
                                dünyasının
                                önde gelen takımlarından biri olan Eternel Fire ile tanıştırmak istiyoruz. Bu
                                heyecan verici
                                takım, sadece oyuna değil aynı zamanda hayallere ve başarılara da tutkulu!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-categories-all">
                <div class="into-blog-cate">
                    <div class="blog-cate-title">
                        <img src="~/assets/image/news-icon.png" alt="Rampage Logo">
                        <span>Kategoriler</span>
                    </div>

                    <div class="blog-list">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="news-cont">1</span>
                                    <span>Tümü</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="news-cont">0</span>
                                    <span>Bizden Haberler</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="news-cont">1</span>
                                    <span>Oyun Dünyasından</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
