   <!-- Main Start  -->
<main>
    <section>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="slider-image-index" src="~/assets/image/download.jpg" alt="">
                    <div class="slider-text">
                        <span>BLINK</span>
                        <h3>BLINK YAKINDA STOKLARDA!</h3>
                        <p>
                            Rampage BLINK mouse 4 Farklı renk seçenekleri ve tarzınıza uygun ekstra söküp takılabilen
                            avuç içi desteği kutu içeriğinde sunuluyor.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img class="slider-image-index" src="~/assets/image/sliderphoto.jpg" alt="">
                    <div class="slider-text">
                        <span>FORCE V995</span>
                        <h3>GERÇEK SÜRÜŞ DENEYİMİ</h3>
                        <p>
                            Rampage FORCE V995, her türlü yarış oyunu için tasarlanmış dinamik bir direksiyon
                            setidir. Kusursuz sürüş deneyimi için tasarlanan FORCE V995
                            gerçek bir araba hissi ile hızlanmanızı, fren yapmanızı ve vites değiştirmenizi sağlar.
                            PS4/PC/XBOX ONE/Xbox Series S/X için uygundur.
                        </p>
                        <div class="slider-btn">
                            <a href="#">Alışverişe Başla</a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img class="slider-image-index" src="~/assets/image/download.png" alt="">
                    <div class="slider-text">
                        <span>CRACK H11</span>
                        <h3>OYUNLARDA ÖZGÜRLÜĞÜN TADINI ÇIKAR</h3>
                        <p>
                            Oyunlarda performansınızı üst seviyeye taşımanız için kablosuz ve ultra hafif tasarlandı.
                        </p>
                        <div class="slider-btn">
                            <a href="#">Keşfet </a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-shop">
        <div class="swiper corusel">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="shop-flex">
                        <div class="shop-title">
                            <h2>Kulaklık ve Mikrofon</h2>
                        </div>
                        <div class="shop-image">
                            <span>1</span>
                            <img src="~/assets/image/kulaklikcategories.png" alt="Kulaklik ve Mikrofon">
                        </div>
                        <a href="#">
                            <p>Keşfet</p> <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="shop-flex">
                        <div class="shop-title">
                            <h2>Klavye</h2>
                        </div>
                        <div class="shop-image">
                            <span>2</span>
                            <img src="~/assets/image/categoriesklavye.png" alt="Kulaklik ve Mikrofon">
                        </div>
                        <a href="#">
                            <p>Keşfet</p> <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="shop-flex">
                        <div class="shop-title">
                            <h2>Monitör</h2>
                        </div>
                        <div class="shop-image">
                            <span>3</span>
                            <img src="~/assets/image/categoriesMonitor.png" alt="Kulaklik ve Mikrofon">
                        </div>
                        <a href="#">
                            <p>Keşfet</p> <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="shop-flex">
                        <div class="shop-title">
                            <h2>Mouse</h2>
                        </div>
                        <div class="shop-image">
                            <span>4</span>
                            <img src="~/assets/image/categoriesMouse.png" alt="Kulaklik ve Mikrofon">
                        </div>
                        <a href="#">
                            <p>Keşfet</p> <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="shop-flex">
                        <div class="shop-title">
                            <h2>Kasa</h2>
                        </div>
                        <div class="shop-image">
                            <span>5</span>
                            <img src="~/assets/image/categoriesKasa.png" alt="Kulaklik ve Mikrofon">
                        </div>
                        <a href="#">
                            <p>Keşfet</p> <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="power-slider">
        <div class="power-slider-header">
            <div class="power-slider-title">
                <span>SENİN İÇİN</span>
                <h2>Güç, Güvenlik ve Performans.</h2>
            </div>
            <div class="power-slider-categories">
                <span class="power-slider-categori1">Popüler Ürünler</span>
                <span class="power-slider-categori2">Sizin İçin Seçtiklerimiz</span>
                <span class="power-slider-categori3">Son Eklenenler</span>
            </div>
        </div>
        <div class="power-slider-boxs1 active">
            <div class="power-slider-box1">
                <img src="~/assets/image/for-youMouse.jpg" alt="Mouse">
            </div>
            <div class="power-slider-box2">
                <div class="swiper foryou">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-box-swipper">
                                <div class="product-title">
                                    <span>Rampage STYLES Siyah USB 7.1 Version RGB Oyuncu Mikrofonlu Kulaklık</span>
                                </div>
                                <div class="product-image">
                                    <img src="~/assets/image/productkulaklik.png" alt="">
                                </div>
                                <div class="total-rating">
                                    <div class="total-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <span>5</span>
                                    <p>2</p>
                                </div>
                                <div class="product-price">
                                    <span>469,00 TL</span>
                                </div>
                                <div class="product-add-basket">
                                    <div>
                                        <a href="#">Sepete Ekle</a>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-box-swipper">
                                <div class="product-title">
                                    <span>
                                        Rampage KB-R211 PRIME Rainbow Aydınlatmalı Kristal Blue Switch Mekanik
                                        Gaming Oyuncu Klavyesi
                                    </span>
                                </div>
                                <div class="product-image">
                                    <img src="~/assets/image/klavye.png" alt="">
                                </div>
                                <div class="total-rating">
                                    <div class="total-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <span>5</span>
                                    <p>2</p>
                                </div>
                                <div class="product-price">
                                    <span>2.349,00 TL</span>
                                </div>
                                <div class="product-add-basket">
                                    <div>
                                        <a href="#">Sepete Ekle</a>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-box-swipper">
                                <div class="product-title">
                                    <span>
                                        Rampage DRIVE RS+ PS4 / PC / XBOX ONE / Xbox Series S / X Yaylı 3 Pedal
                                        -El Vitesi Gaming Oyun Direksiyonu
                                    </span>
                                </div>
                                <div class="product-image">
                                    <img src="~/assets/image/userdireksiyon.png" alt="">
                                </div>
                                <div class="total-rating">
                                    <div class="total-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <span>5</span>
                                    <p>2</p>
                                </div>
                                <div class="product-price">
                                    <span>11.399,00 TL</span>
                                </div>
                                <div class="product-add-basket">
                                    <div>
                                        <a href="#">Sepete Ekle</a>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-box-swipper">
                                <div class="product-title">
                                    <span>
                                        Rampage V900-S PS3 / PS4 / PC / XBOXONE / XBOX360 SWITCH 6 in 1 Pedallı
                                        Gaming Oyuncu Direksiyonu
                                    </span>
                                </div>
                                <div class="product-image">
                                    <img src="~/assets/image/direksiyon2.png" alt="">
                                </div>
                                <div class="total-rating">
                                    <div class="total-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <span>5</span>
                                    <p>2</p>
                                </div>
                                <div class="product-price">
                                    <span>5.199,00 TL</span>
                                </div>
                                <div class="product-add-basket">
                                    <div>
                                        <a href="#">Sepete Ekle</a>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-box-swipper">
                                <div class="product-title">
                                    <span>
                                        Rampage RM-K50 SELECT Siyah Usb 7.1 RGB Ledli Gaming Oyuncu Mikrofonlu
                                        Kulaklık
                                    </span>
                                </div>
                                <div class="product-image">
                                    <img src="~/assets/image/kulaklik.png" alt="">
                                </div>
                                <div class="total-rating">
                                    <div class="total-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <span>5</span>
                                    <p>2</p>
                                </div>
                                <div class="product-price">
                                    <span>599,00 TL</span>
                                </div>
                                <div class="product-add-basket">
                                    <div>
                                        <a href="#">Sepete Ekle</a>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="power-slider-boxs2 active">
            <div class="power-slider-box1">
                <img src="~/assets/image/diger_resim4.jpg" alt="Mouse">
            </div>
            <div class="power-slider-box2">
                <div class="swiper foryou">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-box-swipper">
                                <div class="product-title">
                                    <span>Rampage STYLES Siyah USB 7.1 Version RGB Oyuncu Mikrofonlu Kulaklık</span>
                                </div>
                                <div class="product-image">
                                    <img src="~/assets/image/productkulaklik.png" alt="">
                                </div>
                                <div class="total-rating">
                                    <div class="total-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <span>5</span>
                                    <p>2</p>
                                </div>
                                <div class="product-price">
                                    <span>469,00 TL</span>
                                </div>
                                <div class="product-add-basket">
                                    <div>
                                        <a href="#">Sepete Ekle</a>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-box-swipper">
                                <div class="product-title">
                                    <span>Rampage STYLES Siyah USB 7.1 Version RGB Oyuncu Mikrofonlu Kulaklık</span>
                                </div>
                                <div class="product-image">
                                    <img src="~/assets/image/klavye.png" alt="">
                                </div>
                                <div class="total-rating">
                                    <div class="total-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <span>5</span>
                                    <p>2</p>
                                </div>
                                <div class="product-price">
                                    <span>469,00 TL</span>
                                </div>
                                <div class="product-add-basket">
                                    <div>
                                        <a href="#">Sepete Ekle</a>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="power-slider-boxs3 active">
            <div class="power-slider-box1">
                <img src="~/assets/image/diger_resim5.jpg" alt="Mouse">
            </div>
            <div class="power-slider-box2">
                <div class="swiper foryou">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-box-swipper">
                                <div class="product-title">
                                    <span>Rampage STYLES Siyah USB 7.1 Version RGB Oyuncu Mikrofonlu Kulaklık</span>
                                </div>
                                <div class="product-image">
                                    <img src="~/assets/image/productkulaklik.png" alt="">
                                </div>
                                <div class="total-rating">
                                    <div class="total-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <span>5</span>
                                    <p>2</p>
                                </div>
                                <div class="product-price">
                                    <span>469,00 TL</span>
                                </div>
                                <div class="product-add-basket">
                                    <div>
                                        <a href="#">Sepete Ekle</a>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="card-toggle-section">
        <div class="card-toggle-category">
            <span>ÜRÜN VİTRİNİ</span>
            <div class="card-category">
                <span class="category-menu1">Kulaklık ve Mikrofon</span>
                <span class="category-menu2">Klavye</span>
                <span class="category-menu3">Monitör</span>
                <span class="category-menu4">Mouse</span>
            </div>
        </div>
        <div class="category-cards1">
            <div class="category-card">
                <h2>Rampage Crack H11 Beyaz / Gri Wireless 2.4G+ Bluetooth Mikrofonlu Oyuncu Kulaklığı</h2>
                <div class="category-image">
                    <img src="~/assets/image/categoryimage.png" alt="">
                </div>
                <p>1.599,00 TL</p>
                <div class="category-add-basket">
                    <span>Sepete Ekle</span>
                    <p>+</p>
                </div>
            </div>
            <div class="category-card">
                <h2>
                    Rampage RM-TWS02G TRON T17 Gri / Siyah Mobile+PC Uyumlu Bluetooth TWS Gaming Oyuncu Mikrofonlu
                    Kulaklık
                </h2>
                <div class="category-image">
                    <img src="~/assets/image/tabkulaklikkucuk.png" alt="">
                </div>
                <p>1.599,00 TL</p>
                <div class="category-add-basket">
                    <span>Sepete Ekle</span>
                    <p>+</p>
                </div>
            </div>
            <div class="category-card">
                <h2>Rampage Crack H11 Beyaz / Gri Wireless 2.4G+ Bluetooth Mikrofonlu Oyuncu Kulaklığı</h2>
                <div class="category-image">
                    <img src="~/assets/image/categoryimage.png" alt="">
                </div>
                <p>1.599,00 TL</p>
                <div class="category-add-basket">
                    <span>Sepete Ekle</span>
                    <p>+</p>
                </div>
            </div>
            <div class="category-card">
                <h2>Rampage Crack H11 Beyaz / Gri Wireless 2.4G+ Bluetooth Mikrofonlu Oyuncu Kulaklığı</h2>
                <div class="category-image">
                    <img src="~/assets/image/categoryimage.png" alt="">
                </div>
                <p>1.599,00 TL</p>
                <div class="category-add-basket">
                    <span>Sepete Ekle</span>
                    <p>+</p>
                </div>
            </div>
        </div>
        <div class="category-cards2">
            <div class="category-card">
                <h2>Rampage Crack H11 Beyaz / Gri Wireless 2.4G+ Bluetooth Mikrofonlu Oyuncu Kulaklığı</h2>
                <div class="category-image">
                    <img src="~/assets/image/categoryimage.png" alt="">
                </div>
                <p>1.599,00 TL</p>
                <div class="category-add-basket">
                    <span>Sepete Ekle</span>
                    <p>+</p>
                </div>
            </div>
            <div class="category-card">
                <h2>Rampage Crack H11 Beyaz / Gri Wireless 2.4G+ Bluetooth Mikrofonlu Oyuncu Kulaklığı</h2>
                <div class="category-image">
                    <img src="~/assets/image/categoryimage.png" alt="">
                </div>
                <p>1.599,00 TL</p>
                <div class="category-add-basket">
                    <span>Sepete Ekle</span>
                    <p>+</p>
                </div>
            </div>
            <div class="category-card">
                <h2>Rampage Crack H11 Beyaz / Gri Wireless 2.4G+ Bluetooth Mikrofonlu Oyuncu Kulaklığı</h2>
                <div class="category-image">
                    <img src="~/assets/image/categoryimage.png" alt="">
                </div>
                <p>1.599,00 TL</p>
                <div class="category-add-basket">
                    <span>Sepete Ekle</span>
                    <p>+</p>
                </div>
            </div>

        </div>
        <div class="category-cards3">
            <div class="category-card">
                <h2>Rampage Crack H11 Beyaz / Gri Wireless 2.4G+ Bluetooth Mikrofonlu Oyuncu Kulaklığı</h2>
                <div class="category-image">
                    <img src="~/assets/image/categoryimage.png" alt="">
                </div>
                <p>1.599,00 TL</p>
                <div class="category-add-basket">
                    <span>Sepete Ekle</span>
                    <p>+</p>
                </div>
            </div>
            <div class="category-card">
                <h2>Rampage Crack H11 Beyaz / Gri Wireless 2.4G+ Bluetooth Mikrofonlu Oyuncu Kulaklığı</h2>
                <div class="category-image">
                    <img src="~/assets/image/categoryimage.png" alt="">
                </div>
                <p>1.599,00 TL</p>
                <div class="category-add-basket">
                    <span>Sepete Ekle</span>
                    <p>+</p>
                </div>
            </div>
            <div class="category-card">
                <h2>Rampage Crack H11 Beyaz / Gri Wireless 2.4G+ Bluetooth Mikrofonlu Oyuncu Kulaklığı</h2>
                <div class="category-image">
                    <img src="~/assets/image/categoryimage.png" alt="">
                </div>
                <p>1.599,00 TL</p>
                <div class="category-add-basket">
                    <span>Sepete Ekle</span>
                    <p>+</p>
                </div>
            </div>
            <div class="category-card">
                <h2>Rampage Crack H11 Beyaz / Gri Wireless 2.4G+ Bluetooth Mikrofonlu Oyuncu Kulaklığı</h2>
                <div class="category-image">
                    <img src="~/assets/image/categoryimage.png" alt="">
                </div>
                <p>1.599,00 TL</p>
                <div class="category-add-basket">
                    <span>Sepete Ekle</span>
                    <p>+</p>
                </div>
            </div>
        </div>
        <div class="category-cards4">
            <div class="category-card">
                <h2>Rampage Crack H11 Beyaz / Gri Wireless 2.4G+ Bluetooth Mikrofonlu Oyuncu Kulaklığı</h2>
                <div class="category-image">
                    <img src="~/assets/image/categoryimage.png" alt="">
                </div>
                <p>1.599,00 TL</p>
                <div class="category-add-basket">
                    <span>Sepete Ekle</span>
                    <p>+</p>
                </div>
            </div>
            <div class="category-card">
                <h2>Rampage Crack H11 Beyaz / Gri Wireless 2.4G+ Bluetooth Mikrofonlu Oyuncu Kulaklığı</h2>
                <div class="category-image">
                    <img src="~/assets/image/categoryimage.png" alt="">
                </div>
                <p>1.599,00 TL</p>
                <div class="category-add-basket">
                    <span>Sepete Ekle</span>
                    <p>+</p>
                </div>
            </div>
        </div>
    </section>
    <section class="user-comment">
        <div class="user-comment-title">
            <p>Kullanıcı Deneyimleri</p>
            <span>Kullanıcılarımızdan Yorumlar</span>
        </div>
        <div class="user-comment-boxs">
            <div class="swiper user-comment-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="user-comment-box">
                            <span>
                                Rampage PLATINO Mesh Temperli Camlı 600W 80+ BRONZE 4*12cm Rainbow Fanlı ATX Mid-T
                                Gaming Oyuncu Kasası
                            </span>
                            <div class="user-comment-image">
                                <img src="~/assets/image/usercommentimage1.png" alt="Kasa">
                            </div>
                            <div class="user-comment-text">
                                <div class="user-name-date">
                                    <div class="user-name">SERTAÇ Güngör</div>
                                    <div class="user-date">21/11/2023</div>
                                </div>
                                <div class="user-stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p>
                                    Ben kullanmaktayım gayet güzel fakat RGB ışıkları kapatmanın bir yolu yok Ofiste
                                    kullandığım için sadece bu konuda sıkıntı yaşadım Onun haricinde kasanın içi çok
                                    serin.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="user-comment-box">
                            <span>
                                Rampage PLATINO Mesh Temperli Camlı 600W 80+ BRONZE 4*12cm Rainbow Fanlı ATX Mid-T
                                Gaming Oyuncu Kasası
                            </span>
                            <div class="user-comment-image">
                                <img src="~/assets/image/usermouse.png" alt="Kasa">
                            </div>
                            <div class="user-comment-text">
                                <div class="user-name-date">
                                    <div class="user-name">SERTAÇ Güngör</div>
                                    <div class="user-date">21/11/2023</div>
                                </div>
                                <div class="user-stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p>
                                    Ben kullanmaktayım gayet güzel fakat RGB ışıkları kapatmanın bir yolu yok Ofiste
                                    kullandığım için sadece bu konuda sıkıntı yaşadım Onun haricinde kasanın içi çok
                                    serin.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="user-comment-box">
                            <span>
                                Rampage PLATINO Mesh Temperli Camlı 600W 80+ BRONZE 4*12cm Rainbow Fanlı ATX Mid-T
                                Gaming Oyuncu Kasası
                            </span>
                            <div class="user-comment-image">
                                <img src="~/assets/image/userdireksiyon.png" alt="Kasa">
                            </div>
                            <div class="user-comment-text">
                                <div class="user-name-date">
                                    <div class="user-name">SERTAÇ Güngör</div>
                                    <div class="user-date">21/11/2023</div>
                                </div>
                                <div class="user-stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p>
                                    Ben kullanmaktayım gayet güzel fakat RGB ışıkları kapatmanın bir yolu yok Ofiste
                                    kullandığım için sadece bu konuda sıkıntı yaşadım Onun haricinde kasanın içi çok
                                    serin.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="user-comment-box">
                            <span>
                                Rampage PLATINO Mesh Temperli Camlı 600W 80+ BRONZE 4*12cm Rainbow Fanlı ATX Mid-T
                                Gaming Oyuncu Kasası
                            </span>
                            <div class="user-comment-image">
                                <img src="~/assets/image/usercommentimage1.png" alt="Kasa">
                            </div>
                            <div class="user-comment-text">
                                <div class="user-name-date">
                                    <div class="user-name">SERTAÇ Güngör</div>
                                    <div class="user-date">21/11/2023</div>
                                </div>
                                <div class="user-stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p>
                                    Ben kullanmaktayım gayet güzel fakat RGB ışıkları kapatmanın bir yolu yok Ofiste
                                    kullandığım için sadece bu konuda sıkıntı yaşadım Onun haricinde kasanın içi çok
                                    serin.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="user-comment-box">
                            <span>
                                Rampage PLATINO Mesh Temperli Camlı 600W 80+ BRONZE 4*12cm Rainbow Fanlı ATX Mid-T
                                Gaming Oyuncu Kasası
                            </span>
                            <div class="user-comment-image">
                                <img src="~/assets/image/usercommentimage1.png" alt="Kasa">
                            </div>
                            <div class="user-comment-text">
                                <div class="user-name-date">
                                    <div class="user-name">SERTAÇ Güngör</div>
                                    <div class="user-date">21/11/2023</div>
                                </div>
                                <div class="user-stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>    
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <p>
                                    Ben kullanmaktayım gayet güzel fakat RGB ışıkları kapatmanın bir yolu yok Ofiste
                                    kullandığım için sadece bu konuda sıkıntı yaşadım Onun haricinde kasanın içi çok
                                    serin.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Main End  -->