<!-- Main Start -->
<main>
    <section class="all-map">
        <div id="map"></div>
    </section>

    <section class="all-infos">
        <div class="info">
            <div class="info-item">
                <span>Adres</span>
                <a href="#">Arnavutköy/ İstanbul</a>
            </div>
            <div class="info-item">
                <span>Telefon</span>
                <a href="#">4447899</a>
            </div>
            <div class="info-item">
                <span>E-posta</span>
                <a href="#">info@rampage.com.trl</a>
            </div>
        </div>
    </section>

    <section class="all-contact">
        <div class="contact">
            <div class="contact-left">
                <div class="title">Hızlı <span>Mesaj</span></div>
                <div class="contact-text">
                    <p>
                        Bize Hangi Yolla Ulaşırsanız Ulaşın, Size <span>En Hızlı Şekilde</span>
                        Yanıt Vereceğiz.
                    </p>

                </div>
            </div>
            <div class="contact-right">
                <div class="inputs">
                    <div class="form-item">
                        <input type="text" placeholder="Adınız Soyadınız">
                    </div>
                    <div class="form-item">
                        <input type="email" placeholder="E-posta Adresiniz">
                    </div>
                    <div class="form-item">
                        <textarea class="textarea" name="mesaj" id="mesaj" placeholder="Mesajınız"></textarea>
                    </div>
                </div>
                <div class="security-all">
                    <div class="security-image">
                        <img src="~/assets/image/securimage_show.png" alt="">
                        <i class="fa-solid fa-arrows-rotate"></i>
                    </div>
                    <div class="security-code">
                        <input type="text" placeholder="GÜVENLİK KODU">
                    </div>
                </div>
                <div class="gizlilik">
                    <p>
                        Kişisel verileriniz, <a href="#">Aydınlatma Metni</a> kapsamında işlenmektedir. 'Gönder'
                        butonuna basarak
                        <a href="#"> Gizlilik ve Çerez Politikası</a> 'nı okuduğunuzu ve kabul ettiğinizi
                        onaylıyorsunuz.
                    </p>
                </div>
                <div class="send-message-contact">
                    <button>Gönder</button>
                </div>
            </div>

        </div>
    </section>
</main>
<!-- Main End -->