
<main>
    <section class="shop-detail-area">
        <div class="img-container">
            <div class="big-image">
                <img src="~/assets/image/shopdetail1.png" alt="" />
            </div>
            <div class="swiper detailslider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="small-img-item">
                            <img src="~/assets/image/shopdetail1.png" alt="" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="small-img-item">
                            <img src="~/assets/image/shopdetail2.png" alt="" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="small-img-item">
                            <img src="~/assets/image/shopdetail3.png" alt="" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="small-img-item">
                            <img src="~/assets/image/shopdetail4.png" alt="" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="small-img-item">
                            <img src="~/assets/image/shopdetail5.png" alt="" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="small-img-item">
                            <img src="~/assets/image/shopdetail6.png" alt="" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="small-img-item">
                            <img src="~/assets/image/shopdetail7.png" alt="" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="small-img-item">
                            <img src="~/assets/image/shopdetail5.png" alt="" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="small-img-item">
                            <img src="~/assets/image/shopdetail6.png" alt="" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="small-img-item">
                            <img src="~/assets/image/shopdetail7.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div class="product-detail-text-all">
            <div class="product-detail-text">
                <div class="detail-top">
                    <div class="cat-map">
                        <a href="#">
                            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 128 128">
                                <path class="cls-1"
                                      d="M60.17,114c-3.28,0-5.94-2.67-5.94-5.94v-2.11c0-3.28,2.66-5.94,5.94-5.94h5.19c3.01,0,5.55,2.25,5.9,5.24l.03,.28,.28-.02c6.1-.34,10.91-2.51,14.29-6.45,1.55-1.8,2.46-3.62,2.96-4.83l.11-.28-.28-.11c-2.15-.88-3.6-3.02-3.6-5.34v-30.21c0-3.18,2.58-5.76,5.76-5.76,2.77,0,5.15,1.97,5.66,4.69l.07,.39,.36-.18c.55-.27,1.15-.45,1.76-.54l.26-.04v-5.36c0-19.09-15.53-34.62-34.62-34.62S29.68,32.42,29.68,51.51v5.45l.23,.06c.41,.1,.8,.24,1.17,.43l.36,.18,.07-.39c.51-2.72,2.89-4.69,5.66-4.69,3.18,0,5.76,2.58,5.76,5.76v30.21c0,3.18-2.58,5.76-5.76,5.76-2.77,0-5.15-1.97-5.66-4.69l-.07-.39-.36,.18c-.78,.39-1.66,.59-2.54,.59h-1.85c-3.18,0-5.76-2.58-5.76-5.76v-21.58c0-3.12,2.44-5.65,5.57-5.76h.29v-5.34c0-10.02,3.9-19.44,10.99-26.53,7.08-7.08,16.51-10.99,26.53-10.99s19.44,3.9,26.53,10.99c7.09,7.09,10.99,16.51,10.99,26.53v5.36l.26,.04c2.84,.39,4.98,2.84,4.98,5.71v21.58c0,3.18-2.58,5.76-5.76,5.76h-1.85c-.89,0-1.74-.2-2.54-.59l-.36-.18-.07,.39c-.42,2.25-2.14,4.04-4.38,4.55l-.16,.04-.05,.16c-.45,1.33-1.54,3.94-3.74,6.53-2.71,3.2-7.79,7.11-16.59,7.56h-.26s-.03,.27-.03,.27c-.31,2.99-2.91,5.33-5.91,5.33h-5.19Zm0-11.1c-1.68,0-3.05,1.37-3.05,3.05v2.11c0,1.68,1.37,3.05,3.05,3.05h5.19c1.68,0,3.05-1.37,3.05-3.05v-2.11c0-1.68-1.37-3.05-3.05-3.05h-5.19Zm30.65-47.48c-1.58,0-2.87,1.29-2.87,2.87v30.21c0,1.58,1.29,2.87,2.87,2.87s2.87-1.29,2.87-2.87v-30.21c0-1.58-1.29-2.87-2.87-2.87Zm-53.64,0c-1.58,0-2.87,1.29-2.87,2.87v30.21c0,1.58,1.29,2.87,2.87,2.87s2.87-1.29,2.87-2.87v-30.21c0-1.58-1.29-2.87-2.87-2.87Zm62.27,4.32c-1.58,0-2.87,1.29-2.87,2.87v21.58c0,1.58,1.29,2.87,2.87,2.87h1.85c1.58,0,2.87-1.29,2.87-2.87v-21.58c0-1.58-1.29-2.87-2.87-2.87h-1.85Zm-72.75,0c-1.58,0-2.87,1.29-2.87,2.87v21.58c0,1.58,1.29,2.87,2.87,2.87h1.85c1.58,0,2.87-1.29,2.87-2.87v-21.58c0-1.58-1.29-2.87-2.87-2.87h-1.85Z">
                                </path>
                            </svg>
                            <p> Kulaklık ve Mikrofon </p>
                        </a>
                        <a href="#">
                            <span>Oyuncu Kulaklıkları</span>
                        </a>
                    </div>
                    <div class="product-name">
                        <div class="brand">
                            <img src="~/assets/image/rampage-white.svg" alt="">
                        </div>
                        <span>Rampage STYLES Siyah USB 7.1 Version RGB Oyuncu Mikrofonlu Kulaklık</span>
                    </div>
                </div>
                <div class="detail-mid">
                    <div class="mid-item">
                        <span>Değerlendirme</span>
                        <div class="total-stars">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <span>4</span>
                        </div>
                        <span class="comment-count">3</span>
                    </div>
                    <div class="mid-item2">
                        <span>Ürün Kodu</span>
                        <p>31115</p>
                    </div>
                    <div class="mid-item3">
                        <span>Barkod</span>
                        <p>8680096072970</p>
                    </div>
                </div>
                <div class="detail-price">
                    <span>469,00 TL</span>
                </div>
                <div class="piece">
                    <div class="product-qty">
                        <div class="qty-minus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25"
                                 viewBox="0 0 9.156 16.953">
                                <path d="M8.963,8.942l-7.841,7.82a.657.657,0,0,1-.928-.931L7.568,8.477.193,1.122a.657.657,0,0,1,.928-.93L8.963,8.011a.657.657,0,0,1,0,.93Z"
                                      transform="translate(0)" fill="#fff"></path>
                            </svg>
                        </div>
                        <div class="piece-count">
                            <input type="number" step="1" name="adet" value="1" min="1" max="7">
                        </div>
                        <div class="qty-plus">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25"
                                 viewBox="0 0 9.156 16.953">
                                <path d="M126.7,8.011,118.864.192a.657.657,0,0,0-.928.931l7.375,7.354-7.375,7.354a.657.657,0,0,0,.928.93L126.7,8.942a.657.657,0,0,0,0-.93Z"
                                      transform="translate(-117.742 0)" fill="#fff"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="add-product">
                        <a href="#">Sepete Ekle</a>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="tab-links">
        <div class="tap-items-links">
            <div class="tab-item1">Genel Bakış</div>
            <div class="tab-item2">Teknik Özellikler</div>
            <div class="tab-item3">Yorumlar</div>
        </div>
        <div class="tabs-contents">
            <div class="tab-content1">
                <img src="~/assets/image/productimageheight.jpg" alt="Rampage Image">
            </div>
            <div class="tab-content2">
                <ul>
                    <li>
                        <p>Açıklama</p>
                        <span>Mikrofonlu Oyuncu Kulaklık</span>
                    </li>
                    <li>
                        <p>Frekans cevabı</p>
                        <span>20Hz-20KHz</span>
                    </li>
                    <li>
                        <p>Giriş arayüzü</p>
                        <span>USB</span>
                    </li>
                    <li>
                        <p>Hoparlör Çapı</p>
                        <span>40mm</span>
                    </li>
                    <li>
                        <p>Kablo Uzunluğu</p>
                        <span>2.2 m</span>
                    </li>
                    <li>
                        <p>Kanal Yapısı</p>
                        <span>Çift (stereo) kanal veya Sanal 7.1</span>
                    </li>
                    <li>
                        <p>Katlanabilir</p>
                        <span>Hayır</span>
                    </li>
                    <li>
                        <p>Konnektör</p>
                        <span>USB Tip A Erkek</span>
                    </li>
                    <li>
                        <p>Kontrol Metodu</p>
                        <span>Kulaklık Üstü Ses Kontrolü</span>
                    </li>
                    <li>
                        <p>Kulaklık empedans</p>
                        <span>32 Ohms ±%15</span>
                    </li>
                    <li>
                        <p>Kulaklık Hassasiyeti</p>
                        <span>108dB±3dB</span>
                    </li>
                    <li>
                        <p>Kulaklık Pedi Boyu</p>
                        <span>100mm</span>
                    </li>
                    <li>
                        <p>Led</p>
                        <span>RGB</span>
                    </li>
                    <li>
                        <p>Maksimum Giriş Gücü</p>
                        <span>100mWatt</span>
                    </li>
                    <li>
                        <p>Malzeme</p>
                        <span>Metal, Plastik</span>
                    </li>
                    <li>
                        <p>Marka</p>
                        <span>Rampage</span>
                    </li>
                    <li>
                        <p>Mikrofon Empedansı</p>
                        <span>2.2K Ohm</span>
                    </li>
                    <li>
                        <p>Mikrofon Frekans Yanıtı</p>
                        <span>50Hz-10KHz</span>
                    </li>
                    <li>
                        <p>Mikrofon Hassasiyeti</p>
                        <span>-54dB ±3dB</span>
                    </li>
                    <li>
                        <p>Mikrofon Yönlendirme</p>
                        <span>Çok yönlü mikrofon</span>
                    </li>
                    <li>
                        <p>Model</p>
                        <span>STYLES</span>
                    </li>
                    <li>
                        <p>Paket Boyutu</p>
                        <span>125mm x 222mm x 251mm</span>
                    </li>
                    <li>
                        <p>Paket İçeriği</p>
                        <span>Ürün + Garanti/Kulanım Kılavuzu</span>
                    </li>
                    <li>
                        <p>Renk</p>
                        <span>Siyah</span>
                    </li>
                    <li>
                        <p>Ses Kontrol</p>
                        <span>Var</span>
                    </li>
                    <li>
                        <p>Tipi</p>
                        <span>Kulak Üstü, Başa takmalı</span>
                    </li>
                    <li>
                        <p>Titreşim</p>
                        <span>Yok</span>
                    </li>
                    <li>
                        <p>Toplam Ağırlık</p>
                        <span>607gr</span>
                    </li>
                    <li>
                        <p>Ürün Ağırlığı</p>
                        <span>368gr</span>
                    </li>
                    <li>
                        <p>Ürün Boyutu</p>
                        <span>100mm x 220mm x 230mm</span>
                    </li>

                </ul>
            </div>
            <div class="tab-content3">
                <div class="comment-left-right">
                    <div class="comment-left">
                        <span>Ürünü Değerlendirin</span>
                        <div class="comment-stars">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                 viewBox="0 0 23.378 22.558">
                                <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                      transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                      stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                        </div>
                        <textarea name="comment" cols="30" rows="10" placeholder="Yorumunuz"></textarea>
                        <button type="submit">Paylaş</button>
                    </div>
                    <div class="comment-right">
                        <div class="user-comments-stars">
                            <div class="user-total-stars">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                     viewBox="0 0 23.378 22.558">
                                    <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                          transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                          stroke-miterlimit="10" stroke-width="1"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                     viewBox="0 0 23.378 22.558">
                                    <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                          transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                          stroke-miterlimit="10" stroke-width="1"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                     viewBox="0 0 23.378 22.558">
                                    <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                          transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                          stroke-miterlimit="10" stroke-width="1"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                     viewBox="0 0 23.378 22.558">
                                    <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                          transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                          stroke-miterlimit="10" stroke-width="1"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="23.378" height="22.558"
                                     viewBox="0 0 23.378 22.558">
                                    <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                          transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                          stroke-miterlimit="10" stroke-width="1"></path>
                                </svg>
                                <span>4</span>
                            </div>
                            <span class="user-comment-count">3</span>
                        </div>
                        <span>Ürün Genel Değerlendirmesi</span>
                        <p>Bu ürün için <strong>3</strong> yorum bulundu.</p>
                        <div class="comment-sections">
                            <div class="comment-item">
                                <div class="user-name">OK</div>
                                <div class="comment-exp">
                                    <div class="top">
                                        <span class="name">osman kalender </span>
                                        <span class="date">01/11/2023 </span>
                                    </div>
                                    <div class="mid">
                                        <p>sipariş verdim bakalım marka güvenilir tavsiye ederim</p>
                                    </div>
                                    <div class="bottom-stars">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-item">
                                <div class="user-name">OK</div>
                                <div class="comment-exp">
                                    <div class="top">
                                        <span class="name">Bünyamin Çoban </span>
                                        <span class="date">06/11/2023 </span>
                                    </div>
                                    <div class="mid">
                                        <p>sipariş verdim bakalım marka güvenilir tavsiye ederim</p>
                                    </div>
                                    <div class="bottom-stars">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-item">
                                <div class="user-name">OK</div>
                                <div class="comment-exp">
                                    <div class="top">
                                        <span class="name">osman kalender </span>
                                        <span class="date">01/11/2023 </span>
                                    </div>
                                    <div class="mid">
                                        <p>sipariş verdim bakalım marka güvenilir tavsiye ederim</p>
                                    </div>
                                    <div class="bottom-stars">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                             viewBox="0 0 23.378 22.558">
                                            <path d="M12.056,2.7a1,1,0,0,1,1.888,0l2.078,5.945a1,1,0,0,0,.918.67l6.256.162a1,1,0,0,1,.587,1.79L18.8,15.129a1,1,0,0,0-.347,1.072l1.784,6.074a1,1,0,0,1-1.531,1.1l-5.133-3.571a1,1,0,0,0-1.142,0L7.3,23.378a1,1,0,0,1-1.531-1.1L7.549,16.2A1,1,0,0,0,7.2,15.129L2.217,11.267A1,1,0,0,1,2.8,9.477L9.06,9.315a1,1,0,0,0,.918-.67Z"
                                                  transform="translate(-1.311 -1.53)" fill="none" stroke="#000"
                                                  stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="power-slider">
        <div class="power-slider-header">
            <div class="power-slider-title">
                <span>SENİN İÇİN</span>
                <h2>Güç, Güvenlik ve Performans.</h2>
            </div>
        </div>
        <div class="power-slider-boxs1">
            <div class="power-slider-box1">
                <img src="~/assets/image/for-youMouse.jpg" alt="Mouse">
            </div>
            <div class="power-slider-box2">
                <div class="swiper foryou">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-box-swipper">
                                <div class="product-title">
                                    <span>Rampage STYLES Siyah USB 7.1 Version RGB Oyuncu Mikrofonlu Kulaklık</span>
                                </div>
                                <div class="product-image">
                                    <img src="~/assets/image/productkulaklik.png" alt="">
                                </div>
                                <div class="total-rating">
                                    <div class="total-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <span>5</span>
                                    <p>2</p>
                                </div>
                                <div class="product-price">
                                    <span>469,00 TL</span>
                                </div>
                                <div class="product-add-basket">
                                    <div>
                                        <a href="#">Sepete Ekle</a>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-box-swipper">
                                <div class="product-title">
                                    <span>
                                        Rampage KB-R211 PRIME Rainbow Aydınlatmalı Kristal Blue Switch Mekanik
                                        Gaming Oyuncu Klavyesi
                                    </span>
                                </div>
                                <div class="product-image">
                                    <img src="~/assets/image/klavye.png" alt="">
                                </div>
                                <div class="total-rating">
                                    <div class="total-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <span>5</span>
                                    <p>2</p>
                                </div>
                                <div class="product-price">
                                    <span>2.349,00 TL</span>
                                </div>
                                <div class="product-add-basket">
                                    <div>
                                        <a href="#">Sepete Ekle</a>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-box-swipper">
                                <div class="product-title">
                                    <span>
                                        Rampage DRIVE RS+ PS4 / PC / XBOX ONE / Xbox Series S / X Yaylı 3 Pedal
                                        -El Vitesi Gaming Oyun Direksiyonu
                                    </span>
                                </div>
                                <div class="product-image">
                                    <img src="~/assets/image/userdireksiyon.png" alt="">
                                </div>
                                <div class="total-rating">
                                    <div class="total-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <span>5</span>
                                    <p>2</p>
                                </div>
                                <div class="product-price">
                                    <span>11.399,00 TL</span>
                                </div>
                                <div class="product-add-basket">
                                    <div>
                                        <a href="#">Sepete Ekle</a>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-box-swipper">
                                <div class="product-title">
                                    <span>
                                        Rampage V900-S PS3 / PS4 / PC / XBOXONE / XBOX360 SWITCH 6 in 1 Pedallı
                                        Gaming Oyuncu Direksiyonu
                                    </span>
                                </div>
                                <div class="product-image">
                                    <img src="~/assets/image/direksiyon2.png" alt="">
                                </div>
                                <div class="total-rating">
                                    <div class="total-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <span>5</span>
                                    <p>2</p>
                                </div>
                                <div class="product-price">
                                    <span>5.199,00 TL</span>
                                </div>
                                <div class="product-add-basket">
                                    <div>
                                        <a href="#">Sepete Ekle</a>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-box-swipper">
                                <div class="product-title">
                                    <span>
                                        Rampage RM-K50 SELECT Siyah Usb 7.1 RGB Ledli Gaming Oyuncu Mikrofonlu
                                        Kulaklık
                                    </span>
                                </div>
                                <div class="product-image">
                                    <img src="~/assets/image/kulaklik.png" alt="">
                                </div>
                                <div class="total-rating">
                                    <div class="total-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <span>5</span>
                                    <p>2</p>
                                </div>
                                <div class="product-price">
                                    <span>599,00 TL</span>
                                </div>
                                <div class="product-add-basket">
                                    <div>
                                        <a href="#">Sepete Ekle</a>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
