<main>
    <section class="bg-image-login">
    </section>

    <section class="login">
        <div class="login-email">
            <input type="email" placeholder="E-posta">
        </div>
        <div class="login-password">
            <input type="password" placeholder="Şifre">
        </div>
        <div class="enter">
            <span>Giriş yap</span>
        </div>
        <div class="register">
            <a href="/register.html">Hesabın yokmu? Kaydol</a>
        </div>
    </section>
</main>