<main>
    <section class="bg-image-register">
    </section>
    <section class="register">
        <div class="register-all">
            <div class="register-name">
                <input type="text" placeholder="Adınız Soyadınız">
            </div>
            <div class="register-email">
                <input type="email" placeholder="E-posta Adresiniz">
            </div>
        </div>
        <div class="password-all">
            <div class="register-password">
                <input type="password" placeholder="Şifre">
            </div>
        </div>
        <div class="security-all">
            <div class="security-image">
                <img src="~/assets/image/securimage_show.png" alt="">
                <i class="fa-solid fa-arrows-rotate"></i>
            </div>
            <div class="security-code">
                <input type="text" placeholder="GÜVENLİK KODU">
            </div>
        </div>
        <div class="gizlilik">
            <p>
                Kişisel verileriniz, <a href="#">Aydınlatma Metni</a> kapsamında işlenmektedir. 'Gönder'
                butonuna basarak
                <a href="#"> Gizlilik ve Çerez Politikası</a> 'nı okuduğunuzu ve kabul ettiğinizi
                onaylıyorsunuz.
            </p>
        </div>
        <div class="send-message-contact">
            <button>
                <i class="fa-solid fa-user"></i>
                Üye Ol
            </button>
        </div>
    </section>
</main>