
<main>
    <section class="bg-image-user">
    </section>

    <section class="user-screen-menu">
        <a href="#" class="active">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 13 13">
                <path d="M8.626,6.855A6.51,6.51,0,0,1,13,13H11.984A5.484,5.484,0,0,0,1.016,13H0A6.51,6.51,0,0,1,4.374,6.855a3.758,3.758,0,1,1,4.252,0l-4.868-3.1A2.742,2.742,0,1,0,6.5,1.016,2.745,2.745,0,0,0,3.758,3.758Z"
                      transform="translate(0 0)" fill-rule="evenodd"></path>
            </svg>
            <span>Bilgilerim</span>
        </a>
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 10 14.222">
                <g>
                    <path d="M0,5A5,5,0,1,1,9.295,7.562L5.427,14.02a.417.417,0,0,1-.712.006L.746,7.629A4.989,4.989,0,0,1,0,5l5.063,8.005L8.58,7.134a4.172,4.172,0,1,0-7.125.056l3.608,5.815Z"
                          fill-rule="evenodd"></path>
                </g>
                <g transform="translate(2.5 2.5)">
                    <path d="M2.285,4.785a2.5,2.5,0,1,1,2.5,2.5,2.5,2.5,0,0,1-2.5-2.5h.828A1.671,1.671,0,1,0,4.785,3.113,1.673,1.673,0,0,0,3.113,4.785Z"
                          transform="translate(-2.285 -2.285)" fill-rule="evenodd"></path>
                </g>
            </svg>
            <span>Adres Bilgilerim</span>
        </a>
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 11.875 14.013">
                <g transform="translate(-0.003)">
                    <g transform="translate(4.264)">
                        <path d="M7.631,1.732A2.019,2.019,0,0,0,4,.829a.237.237,0,1,0,.383.28A1.544,1.544,0,0,1,7.161,1.8.238.238,0,0,0,7.4,2l.034,0A.238.238,0,0,0,7.631,1.732Z"
                              transform="translate(-3.956)" fill-rule="evenodd"></path>
                    </g>
                    <g transform="translate(0.478 3.087)">
                        <path d="M11.335,4.167,10.622,2.98a.237.237,0,0,0-.2-.115H9.736a.237.237,0,1,0,0,.475h.548l.428.713H1.1l.428-.713h.252a.237.237,0,1,0,0-.475H1.393a.237.237,0,0,0-.2.115L.477,4.167a.238.238,0,0,0,.2.36h10.45a.238.238,0,0,0,.2-.36Z"
                              transform="translate(-0.443 -2.864)" fill-rule="evenodd"></path>
                    </g>
                    <g transform="translate(6.264 1.331)">
                        <path d="M9.733,2.1A.237.237,0,0,0,9.585,2L6.347,1.241a.237.237,0,0,0-.285.177L5.818,2.462a.237.237,0,0,0,.463.108l.19-.812,2.775.649L8.81,4.271a.237.237,0,0,0,.177.285.24.24,0,0,0,.054.006.237.237,0,0,0,.231-.183l.49-2.1A.237.237,0,0,0,9.733,2.1Z"
                              transform="translate(-5.812 -1.235)" fill-rule="evenodd"></path>
                    </g>
                    <g transform="translate(1.404 0.722)">
                        <path d="M5.965,2.71,5.748.879A.238.238,0,0,0,5.485.671l-3.972.47A.238.238,0,0,0,1.3,1.4l.361,3.053a.238.238,0,0,0,.236.21l.028,0A.238.238,0,0,0,2.137,4.4L1.8,1.585l3.5-.414.188,1.594a.238.238,0,0,0,.472-.056Z"
                              transform="translate(-1.303 -0.67)" fill-rule="evenodd"></path>
                    </g>
                    <g transform="translate(3.178 2.28)">
                        <path d="M7.715,4.258,7.243,2.3a.237.237,0,0,0-.286-.175l-3.826.92a.238.238,0,0,0-.175.286l.236.98A.237.237,0,1,0,3.653,4.2l-.18-.749,3.364-.809.416,1.729a.238.238,0,0,0,.462-.111Z"
                              transform="translate(-2.949 -2.115)" fill-rule="evenodd"></path>
                    </g>
                    <g transform="translate(0.003 4.275)">
                        <path d="M11.166,3.966a.238.238,0,0,1,.237.225l.475,9.263a.237.237,0,0,1-.237.25H.24A.237.237,0,0,1,0,13.454L.478,4.191a.237.237,0,0,1,.237-.225h10.45L.941,4.441.49,13.229h10.9L10.94,4.441h-10Z"
                              transform="translate(-0.003 -3.966)" fill-rule="evenodd"></path>
                    </g>
                    <g transform="translate(7.009 5.225)">
                        <path d="M6.5,5.56a.713.713,0,1,1,.713.713A.713.713,0,0,1,6.5,5.56h.475a.238.238,0,1,0,.238-.237.238.238,0,0,0-.238.237Z"
                              transform="translate(-6.503 -4.847)" fill-rule="evenodd"></path>
                    </g>
                    <g transform="translate(3.447 5.225)">
                        <path d="M3.2,5.56a.713.713,0,1,1,.713.713A.713.713,0,0,1,3.2,5.56h.475a.238.238,0,1,0,.238-.237.238.238,0,0,0-.238.237Z"
                              transform="translate(-3.198 -4.847)" fill-rule="evenodd"></path>
                    </g>
                    <g transform="translate(3.922 5.938)">
                        <path d="M7.42,5.508a.238.238,0,0,0-.237.237.235.235,0,0,0,.018.092V7.052a1.544,1.544,0,1,1-3.088,0V5.746a.237.237,0,0,0-.475,0V7.052a2.019,2.019,0,1,0,4.038,0V5.746a.238.238,0,0,0-.237-.238Z"
                              transform="translate(-3.638 -5.508)" fill-rule="evenodd"></path>
                    </g>
                </g>
            </svg>
            <span>Siparişlerim</span>
        </a>
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14.013 14.013">
                <path d="M6.028,4a4.016,4.016,0,1,1,.985,2.622L4.38,9.258l1.825,1.825a.25.25,0,1,1-.354.354L4.026,9.612l-.9.9,1.324,1.324a.25.25,0,1,1-.354.354L2.775,10.863l-.9.9L3.7,13.586a.25.25,0,1,1-.354.354L1.524,12.114.45,13.189A.25.25,0,0,1,.1,12.835L6.7,6.227A3.981,3.981,0,0,1,6.028,4h.5a3.5,3.5,0,1,0,3.5-3.5A3.507,3.507,0,0,0,6.529,4Z"
                      transform="translate(-0.023)" fill-rule="evenodd"></path>
            </svg>
            <span>Parola Değiştir</span>
        </a>
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 12.657 14.096">
                <g>
                    <path d="M6.1,13.289H2.536a1.785,1.785,0,0,1-1.753-1.81V2.618A1.785,1.785,0,0,1,2.536.808H6.155A.4.4,0,0,0,6.546.4.4.4,0,0,0,6.155,0H2.536A2.58,2.58,0,0,0,0,2.618v8.861A2.58,2.58,0,0,0,2.536,14.1H6.1a.4.4,0,0,0,0-.808Z"
                          fill-rule="evenodd"></path>
                </g>
                <g transform="translate(2.994 4.078)">
                    <path d="M12.309,6.447,9.823,3.88a.381.381,0,0,0-.553,0,.412.412,0,0,0,0,.571l1.82,1.879H3.152a.4.4,0,0,0,0,.808h7.937L9.269,9.017a.412.412,0,0,0,0,.571.388.388,0,0,0,.275.12.376.376,0,0,0,.275-.12l2.486-2.567A.413.413,0,0,0,12.309,6.447Z"
                          transform="translate(-2.761 -3.761)" fill-rule="evenodd"></path>
                </g>
            </svg>
            <span>Güvenli Çıkış</span>
        </a>
    </section>

    <section class="user-screen-content">
        <div class="user-about-all">
            <div class="form-user-title">
                <span>Kişisel Bilgiler</span>
            </div>
            <div class="user-forms">
                <div class="form-name">
                    <input type="text" placeholder="İsim Soyisim">
                </div>
                <div class="form-name">
                    <input type="text" placeholder="E-Mail">
                </div>
                <div class="user-phone">
                    <input type="number" placeholder="Telefon">
                </div>
            </div>
        </div>
    </section>

</main>